package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

/**
* 使⽤@mapper后，不需要在spring配置中设置扫描地址，通过mapper.xml⾥⾯的namespace属性对应相关的mapper类，spring 将动态的⽣成Bean后注⼊到ServiceImpl中。
* 使用@repository则需要在Spring中配置扫描包地址，然后⽣成dao层的bean，之后被注⼊到ServiceImpl中
*/
@Mapper
public interface ${className}Dao extends BaseMapper<${className}Entity> {
	
}
