# 主要功能是屏蔽某些文件，使得这些文件不被追踪（tracked），push后也不会上传到 代码管理平台
### gradle ###
# 过滤.gradle文件
.gradle
# 过滤整个文件夹build
/build/
# 添加 gradle/wrapper/文件夹 下的 gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
### STS ###
# 过滤文件
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
### IntelliJ IDEA ###
HELP.md
.idea
# 过滤所有.iws文件
*.iws
*.iml
*.ipr
rebel.xml
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
### maven ###
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz
**/mvnw
**/mvnw.cmd
**/.mvn
!.mvn/wrapper/maven-wrapper.jar
### logs ####
/logs/
*.log
### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~
### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
upload
gen_code
### database ###
db/db_back_dir/
### redis ###
/redis/
### VS Code ###
.vscode/